<div class="crop" 
    [style.width.px]="starWidth"
    [title]="rating"
    (click)="onClick()">
    <div style="width: 86px">
        <div *ngIf='rating >= 3'>
            <span class='glyphicon glyphicon-star starColorGreen'> </span>
            <span class='glyphicon glyphicon-star starColorGreen'> </span>
            <span class='glyphicon glyphicon-star starColorGreen'> </span>
            <span class='glyphicon glyphicon-star starColorGreen'> </span>
            <span class='glyphicon glyphicon-star starColorGreen'> </span>
        </div>
        <div *ngIf='rating < 3'>
            <span class='glyphicon glyphicon-star starColorRed'> </span>
            <span class='glyphicon glyphicon-star starColorRed'> </span>
            <span class='glyphicon glyphicon-star starColorRed'> </span>
            <span class='glyphicon glyphicon-star starColorRed'> </span>
            <span class='glyphicon glyphicon-star starColorRed'> </span>
        </div>
    </div>
</div>